.emojis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(3 * var(--box-width) + 6 * 10px);
    margin-bottom: 20px;
}

.emoji {
    display: inline-block;
    width: var(--box-width);
    height: var(--box-height);
    margin: 10px;
    text-align: center;
    font-size: 5rem;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.emoji:hover {
    opacity: 0.7;
}

.emoji.active {
    opacity: 1;
}